body{
  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
  margin: 65px auto 30px;
  width: 1008px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  text-align: left;
  color: #7D7987;
  height:100vh;

}
nav, main{
  display:flex;
  justify-content: space-between;
  align-items:center;
}
nav{
  margin-bottom:58px;
}
nav ul{
  list-style: none;
  display:flex;
  gap:48px;
  margin:0;
  padding:0;
  font-size: 18px;
  line-height: 23px;
  color: #1F1534;
  opacity: 0.5;
}
nav ul li a, footer a{
  text-decoration: none;
}
nav ul li a:hover{
  font-weight:bold;
  opacity: 1;
}
section h1, nav{
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 400;
}
section h1{
  font-size: 49px;
  line-height: 56px;
  color: #000000;
  margin-bottom:40px;
}
h1 span{
  font-weight:bold;
  color:#89C5CC;
}
section p{
  margin:0;
}
button{
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #F9F9F9;
  background: #69B99D;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 32px 15px;
  gap: 10px;
  border-style:none;
  margin-top:40px;
}
footer p{
  margin-top:80px;
  text-align:center;
  color: #000000;
}
footer p a{
  font-weight:bold;
  color:#000000;
}
#balls{
  position: fixed;
  bottom: 0px;
  right: 0px;
}

