
body{
  background-color:#FFFFFF;
  font-family: 'Open Sans', sans-serif;
  color: #7D7987;
  text-align: center;
  margin:0;
}
main{
  width: 592px;
  margin:0 auto 72px;
}
footer{  
  width:568px;
  margin: auto;
  padding-top: 8px;
  border-top: 1px solid #ECEFF2;
  font-size: 14px;
  line-height: 28px;
  color:#FF9900;
}
h1{
  font-family: 'Inter', sans-serif;
  color:#000000;
  font-style: normal;
  font-weight: 400;
  font-size: 49px;
  line-height: 56px;
  margin: 72px auto 32px;
}
h1 span{
  font-weight: bold;
}
footer a, span{
  color:#FF9900;
}
a + a{
  margin-left: 28px;
}
#balls{
  position:fixed;
  right: 0px;
  bottom: 0px;
}