body{
    margin:0 1%;
    height:100vh;
}

nav{
    font-family: 'Chango', cursive;
    font-size: 1.1em;
    padding: 1em 0;
    border-bottom: 0.2em solid pink;
}
footer{
    padding: 1em 0;
    border-top: 0.2em solid pink;
}
#container{
    margin:2% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap:1.5em;
}
#container img{
    width:30%;
    height:30%
}
@media screen and (max-width: 400px){
    #container img{
        width:50%;
        height:50%
    }
}